# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Build output
dist/

# Prisma
prisma/*.db
prisma/*.db-journal

# Logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Admin build output
admin/dist/
admin/node_modules/
